@import 'src/assets/scss/variables';

:host::ng-deep {
  .slider {
    position: relative;
  }
  .slide {
    background: $color-1;
    box-shadow: 0px 2px 5px rgba(125, 125, 146, 0.2);
    border-radius: 5px;
    padding: 20px 25px 60px 20px;
    &:hover {
      box-shadow: 0px 2px 15px rgba(125, 125, 146, 0.4);
    }
    &-header  {
      display: flex;
      margin-bottom: 16px;
      img {
        height: fit-content;
        width: fit-content;
        margin-right: 12.5px;
      }
      h4 {
        margin-top: 0;
        margin-bottom: 3px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
      }
      span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: #595959;
      }
    }
    &-description {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
    }
    &-button {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: $color-2;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      &:hover {
        color: $color-3;
      }
    }
  }

  .swiper-wrapper {
    margin-bottom: 28px;
  }

  .swiper-container-horizontal {
    & .swiper-pagination {
      position: initial;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
  .swiper-pagination-bullet-active {
    background: $color-2;
  }

  .sliderbtn {
    position: absolute;
    top: 120px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(125, 125, 146, 0.2);
    &.swiper-button-next {
      transform: translateX(90%);
      background: url('~src/assets/images/icons/right-arrow_grey.svg') $color-1 no-repeat center;
      &:hover {
        background: url('~src/assets/images/icons/right-arrow_black.svg') $color-1 no-repeat center;
      }
    }
    &.swiper-button-prev {
      transform: translateX(-90%);
      background: url('~src/assets/images/icons/left-arrow_grey.svg') $color-1 no-repeat center;
      &:hover {
        background: url('~src/assets/images/icons/left-arrow_grey.svg') $color-1 no-repeat center;
      }
    }
    &:after {
      display: none;
    }
    &:hover {
      box-shadow: 0px 2px 15px rgba(125, 125, 146, 0.4);
    }
  }

  .swiper-scrollbar {
    @media (max-width: 425px) {
      transform: translateX(-10px);
    }
  }

  .swiper-pagination-progressbar-fill {
    background: $color-2;
  }
  .swiper-container-horizontal .swiper-pagination {
    @media (max-width: 425px) {
      transform: translateX(-10px);
    }
  }
}
