/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";
@import 'assets/scss/variables';

* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
